pandas==1.5.3
langchain==0.0.271
beautifulsoup4==4.11.2
faiss-cpu==1.7.4
tqdm==4.65.0
requests==2.31.0
openai==0.27.7
tiktoken==0.3.1
feedparser==6.0.10
dateparser==1.1.8
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
newspaper3k==0.2.8
nltk==3.8.1 
flask==2.3.3
pydantic==2.4.2
pydantic-core==2.10.1
bcrypt==4.0.1
pymongo==4.6.0
flask-pymongo==2.3.0
chromadb==0.4.15
flask-cors==4.0.0
pyjwt==2.8.0